*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/app/src/androidTest/java/com/MirageStudios/NeonBackgroundView/ExampleInstrumentedTest.java
/app/src/test/java/com/MirageStudios/NeonBackgroundView/ExampleUnitTest.java
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
